<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-graduation-cap fa-fw"></i> Trainings</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="create()">New</button>
        </div>

        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let training of trainings; let i = index">
                <td>{{i+1}}</td>
                <td>{{training.name}}</td>
                <td class="text-center"><i class="fa fa-search-plus icon-btn-md" (click)="onSelect(training)"></i></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>