<div class="jumbotron">
  <h1 class="display-3">INSYS</h1>
  <p class="lead">INSYS Group (a wholly-owned subsidiary of Luxoft Holding, Inc.) is a full-service management and technology consulting firm, wholly committed to providing the momentum your company needs to get you where you want to be. In everything we do, we move with clarity, vision and purpose, creating the kind of innovative business and information technology solutions that consistently drive value for our clients.</p>
  <hr class="my-2">
  <p>With a focus on healthcare, media & telecom, pharmaceuticals, financial services and technology, we develop specialized solutions, executed by expert teams. Unlike other firms, we invest real time into understanding the business challenges you face, as well as your goals and priorities. Then we pair you with a hand-selected industry team representing a range of disciplines. Its sole focus: to deliver solutions that will improve your company’s performance, turning risks into strengths and discovering value in unexpected places.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
  </p>
</div>

