<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-list-ol fa-fw"></i> Training Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <form (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="trainingName">Training Name</label>
                        <input type="text" class="form-control" id="trainingName" required [(ngModel)]="training.name"
                               name="trainingName" #trainingName="ngModel">
                        <div [hidden]="trainingName.valid || trainingName.pristine" class="alert alert-danger">
                            Training name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="online" type="checkbox" [checked]="training.online"
                               (click)="isOnlineChange($event.target.checked)"><label
                            for="online">Is online</label>
                        <app-address [address]="training.location" [hidden]="training.online"></app-address>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tasks</h3>
                        </div>
                        <div class="panel-body">

                            <div class="panel panel-default" *ngFor="let task of training.tasks; let i = index">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{task.name}}</h4>
                                </div>
                                <div class="panel-body">
                                    <p>{{task.description}}</p>
                                    <p><b>Weblink:</b> {{task.weblink}}</p>
                                </div>
                            </div>
                            <form>

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" (click)="addTask()">Add task</button>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="text" id="current-task-name"
                                           name="current-task-name" placeholder="Name" [(ngModel)]="currentTask.name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="current-task-description"
                                           name="current-task-description" placeholder="Description"
                                           [(ngModel)]="currentTask.description">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="current-task-weblink"
                                           name="current-task-weblink" placeholder="Weblink"
                                           [(ngModel)]="currentTask.weblink">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                        <button type="button" class="btn btn-primary" (click)="cancel()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>