<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-list-ol fa-fw"></i> Interview Details</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <form (ngSubmit)="save()" #interviewForm="ngForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required [(ngModel)]="interview.name" #name="ngModel" id="name" name="name" [readonly]="interview.status && interview.status != CONSTANTS.INTERVIEW_STATUS.OPEN">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name for the interview is required
            </div>
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required [(ngModel)]="interview.phone" #phone="ngModel" id="phone" name="phone" [readonly]="interview.status && interview.status != CONSTANTS.INTERVIEW_STATUS.OPEN">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              Phone for the interview is required
            </div>
          </div>

          <div class="form-group">
            <label>Role</label>
            <select class="form-control" required [(ngModel)]="interview.role" id="role" name="role" #role="ngModel">
              <option selected=selected></option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Candidate</label>
            <select class="form-control" required [(ngModel)]="interview.candidate" id="candidate" name="candidate" #candidate="ngModel">
              <option selected=selected></option>
              <option *ngFor="let person of persons | filterPersonType: CANDIDATE" [ngValue]="person">{{person.firstName}} {{person.lastName}}</option>
            </select>
          </div>

        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-default" [routerLink]="['/interviews']">Cancel</a>
              <button type="submit" class="btn btn-primary pull-right"
                      *ngIf="!interview.status || interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN"
                      [disabled]="!interviewForm.form.valid">Save</button>
            </div>
          </div>
        </div>

      </div>
    </form>


    <div class="panel panel-default" *ngIf="interview.id && interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN">
      <div class="panel-heading">
        <h3 class="panel-title">Load Template</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label>Select Template</label>
          <select class="form-control" required [(ngModel)]="selectedTemplate" id="template" name="template"
                  #template="ngModel" (change)="getTemplate()">
            <option selected=selected></option>
            <option *ngFor="let template of templates" [ngValue]="template">{{template.name}}</option>
          </select>
        </div>

        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th class="text-center">Select</th>
            <th>Question</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of questions; let i = index">
            <td class="text-center">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="question.selected">
                </label>
              </div>
            </td>
            <td>{{question.question}}</td>
          </tr>
          </tbody>
        </table>

        <div class="form-group">
          <button type="button" class="btn btn-primary pull-right" (click)="assignQuestions()" [disabled]="!questions || questions.length < 1">
            Assign Questions to Interview
          </button>
        </div>

      </div>
    </div>

    <div class="panel panel-default" *ngIf="interview.id">
      <div class="panel-heading">
        <h3 class="panel-title">Interviewers</h3>
      </div>
      <div class="panel-body">

        <div class="form-group" *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN" >
          <label>Add Interviewer</label>
          <select class="form-control" required [(ngModel)]="newInterviewer" id="interviewer" name="interviewer"
                  #interviewer="ngModel" (change)="addInterviewer()">
            <option selected=selected></option>
            <option *ngFor="let person of persons | filterPersonType: INTERVIWER" [ngValue]="person">{{person.firstName}} {{person.lastName}}</option>
          </select>
        </div>

        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interviewer of interview.interviewers; let i = index">
              <td>{{i+1}}</td>
              <td>{{interviewer.firstName}} {{interviewer.lastName}}</td>
              <td class="text-center" *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN">
                <i class="fa fa-times icon-btn-md" (click)="removeInterviewer(i)"></i>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="panel panel-default" *ngIf="interview.id">
      <div class="panel-heading">
        <h3 class="panel-title">Questions</h3>
      </div>
      <div class="panel-body">

        <div class="form-group" *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN">
          <label>Add New Question</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" required [(ngModel)]="newAnswer.question.question" id="question" name="question"
                     #question="ngModel"/>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" [disabled]="!newAnswer.question.question" (click)="addQuestion()">Add</button>
            </div>
          </div>
        </div>

        <ol>
          <li *ngFor="let answer of interview.answers; let i = index">
            <b>{{answer.question.question}}</b>
            <i class="fa fa-times icon-btn-md" (click)="removeQuestion(i)"
               *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN"></i>
          </li>
        </ol>

        <button type="button" class="btn btn-primary pull-right" (click)="save()" *ngIf="interview.status == CONSTANTS.INTERVIEW_STATUS.OPEN">
          Save
        </button>

      </div>
    </div>

  </div>
</div>