<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-list-ol fa-fw"></i> Interview Details</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Personal Information</h3>
      </div>
      <div class="panel-body">

        <form (ngSubmit)="save()" #interviewForm="ngForm">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required [(ngModel)]="interview.name" #name="ngModel" id="name" name="name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name for the interview is required
            </div>
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required [(ngModel)]="interview.phone" #phone="ngModel" id="phone" name="phone">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              Phone for the interview is required
            </div>
          </div>

          <div class="form-group">
            <label>Role</label>
            <select class="form-control" required [(ngModel)]="interview.role" id="role" name="role" #role="ngModel">
              <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Candidate</label>
            <select class="form-control" required [(ngModel)]="interview.candidate" id="candidate" name="candidate" #candidate="ngModel">
              <option *ngFor="let person of persons | filterPersonType: CANDIDATE" [ngValue]="person">{{person.firstName}} {{person.lastName}}</option>
            </select>
          </div>

          <a class="btn btn-default" [routerLink]="['/interviews']">Cancel</a>
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!interviewForm.form.valid">Save</button>

        </form>

      </div>
    </div>

    <div class="panel panel-default" *ngIf="interview.id">
      <div class="panel-heading">
        <h3 class="panel-title">Interviewers</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label>Add Interviewer</label>
          <select class="form-control" required [(ngModel)]="newInterviewer" id="interviewer" name="interviewer"
                  #interviewer="ngModel" (change)="addInterviewer()">
            <option *ngFor="let person of persons | filterPersonType: INTERVIWER" [ngValue]="person">{{person.firstName}} {{person.lastName}}</option>
          </select>
        </div>

        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interviewer of interview.interviewers; let i = index">
              <td>{{i+1}}</td>
              <td>{{interviewer.firstName}} {{interviewer.lastName}}</td>
              <td class="text-center"><i class="fa fa-times icon-btn-md" (click)="removeInterviewer(i)"></i></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="panel panel-default" *ngIf="interview.id">
      <div class="panel-heading">
        <h3 class="panel-title">Questions</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label>Add New Question</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" required [(ngModel)]="newQuestion.question" id="question" name="question"
                      #question="ngModel"/>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" [disabled]="!newQuestion.question" (click)="addQuestion()">Add</button>
            </div>
          </div>
        </div>

        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th>No</th>
            <th>Question</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of interview.questions; let i = index">
            <td>{{i+1}}</td>
            <td>{{question.question}}</td>
            <td class="text-center"><i class="fa fa-times icon-btn-md" (click)="removeQuestion(i)"></i></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="panel panel-default" *ngIf="interview.id && interview.interviewers && interview.interviewers.length > 0">
      <div class="panel-heading">
        <h3 class="panel-title">Feedback</h3>
      </div>
      <div class="panel-body">

        <div class="form-group" *ngIf="interview.feedbacks.length < interview.interviewers.length">
          <label>Add New Feedback</label>

          <div class="form-group">
            <div [froalaEditor] [(froalaModel)]="newFeedback.comment"></div>
          </div>

          <div class="form-group">
            <label>Interviewer</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" required [(ngModel)]="newFeedback.interviewer" id="interviewer2" name="interviewer2"
                        #interviewer2="ngModel">
                  <option *ngFor="let interviewer of interview.interviewers" [ngValue]="interviewer">{{interviewer.firstName}} {{interviewer.lastName}}</option>
                  </select>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-primary" [disabled]="!newFeedback.comment || !newFeedback.interviewer" (click)="addFeedback()">Add</button>
              </div>
            </div>
          </div>

        </div>

        <div class="panel panel-info" *ngFor="let feedback of interview.feedbacks; let i = index">
          <div class="panel-heading">
            <h3 class="panel-title" *ngIf="feedback.interviewer">{{feedback.interviewer.firstName}} {{feedback.interviewer.lastName}}'s Feedback</h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <div [froalaEditor] [(froalaModel)]="feedback.comment"></div>
            </div>

            <button type="button" class="btn btn-danger" (click)="removeFeedback(i)">
              Remove
            </button>
            <button type="button" class="btn btn-primary pull-right" (click)="updateFeedback(feedback)">
              Save
            </button>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>