<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-male fa-fw"></i> Persons</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="form-group">
      <label>Person Type</label>
      <div>
        <select class="form-control" #sel (change)="select.emit(sel.value)" [(ngModel)]="personType">
          <option selected=selected></option>
          <option *ngFor="let personType of personTypes">{{personType}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="create()">
        New
      </button>
    </div>

    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Type</th>
        <th>Email</th>
        <th>Details</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons | filterPersonType: sel.value; let i = index">
        <td>{{i+1}}</td>
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person.personType}}</td>
        <td>{{person.email}}</td>
        <td class="text-center"><i class="fa fa-search-plus icon-btn-md" (click)="onSelect(person)"></i></td>
        <td class="text-center"><i class="fa fa-times icon-btn-md" (click)="remove(person)"></i></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>