<div class="card">
    <div class="card-header">
        Address Information
    </div>
    <div class="card-block">
        <div [hidden]="submitted"></div>
        <form (ngSubmit)="save()" #addressForm="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address1">Address 1</label>
                        <input type="text" class="form-control" id="address1" required [(ngModel)]="address.address1" name="address1" #address1="ngModel">
                        <div [hidden]="address1.valid || address1.pristine" class="alert alert-danger">
                            Address 1 is required
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" class="form-control" id="address2" [(ngModel)]="address.address2" name="address2" #address2="ngModel">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city" #city="ngModel">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state" #state="ngModel">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipCode" name="zipcode" #zipcode="ngModel">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" required [(ngModel)]="address.country" name="country" #country="ngModel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>