<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
      <div class="panel-body">

        <div class="card-block">

          <div class="row">
            <div class="col-sm-12">
              <label class="btn btn-primary">
                <input type="file" #fileInput id="file" (change)="selectFile()">
                <i class="fa fa-file-o"></i>
                <span *ngIf="!file.name">Select File</span>
                <span *ngIf="file.name">{{file.name}}</span>
              </label>
              <button (click)="uploadFile()" [disabled]="!file.name" class="btn btn-success">
                <i class="fa fa-cloud-upload"></i>
                Upload
              </button>
            </div>
          </div>

          <div class="row" [hidden]="progressHidden">
            <div class="col-sm-12">
              <div class="text-xs-center" id="progress-caption">Uploading {{fileName}} {{percentUploaded}}</div>
              <progress class="progress progress-success" [value]="currentValue" [max]="maxValue"></progress>
            </div>
          </div>

          <div class="spacer-sm"></div>

          <div class="row">
            <div class="col-sm-12">
              <p class="text-danger text-center" *ngIf="!person.personDocuments || person.personDocuments.length == 0">
                No documents attached</p>
              <table class="table table-hover table-striped table-bordered"
                     *ngIf="person.personDocuments && person.personDocuments.length > 0">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Document Name</th>
                  <th>Size</th>
                  <th>Download</th>
                  <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let personDocument of person.personDocuments">
                  <td>{{personDocument.date | date: 'dd/MM/yyyy HH:mm:ss Z'}}</td>
                  <td>{{personDocument.fileName}}</td>
                  <td>{{personDocument.fileSize | storageSizeFormatter:1}}</td>
                  <td class="text-center"><i class="fa fa-cloud-download icon-btn-md" (click)=download(personDocument)></i></td>
                  <td class="text-center"><i class="fa fa-times icon-btn-md" (click)="deleteFile(personDocument)"></i></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
          <br/>
        </div>

      </div>
    </div>
  </div>
</div>