<div class="container">

<div class="form-group">
    <label for="businessType">Business Type</label>
    <div>
    <select class="form-control" id="businessType"
            required
            [(ngModel)]="businessType" name="businessType"
            >
        <option value="Client">Client</option>
        <option value="PivotalLabs">PivotalLabs</option>
        <option value="Pivotal">Pivotal</option>
        <option value="Vendor">Vendor</option>
        <option value="Insys">Insys</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="create()">New</button>
    </div>
</div>

<ul class="business">
  <li *ngFor="let business of businesses" (click)="onSelect(business)">
    Name: {{business.name}}, Description:  {{business.description}} , BusinessType: {{business.businessType}}
  </li>
</ul>
</div>

