<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-map-marker fa-fw"></i> Adress</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary" (click)="create()">New</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" *ngFor="let address of addresses" (click)="onSelect(address)">
        {{address.address1}} {{address.address2}} {{address.city}} {{address.state}} {{address.zipCode}} {{address.country}}
      </button>
    </div>

  </div>
</div>

