button {
    background-color: #0268BF;
    border: none;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 20%;
    border-radius: 12px;
}

  .address {
    margin: 0 0 3em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
    list-style-position:inside;
  }
  .address li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .5em 20;
    height: 1.6em;
    border-radius: 4px;
  }

  .address li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  ol li {
    padding: 5px;
    margin-left: 35px;
}


