<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <i class="fa fa-male fa-fw"></i>
      <span [hidden]="person.firstName">New User</span>
      <span *ngIf="person.firstName">{{person.firstName}} {{person.lastName}}</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <form (ngSubmit)="save()" #personForm="ngForm">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Personal Information</h3>
        </div>
        <div class="panel-body">
          <div [hidden]="submitted"></div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="personType">Person Type</label>
                <select class="form-control" id="personType" required [(ngModel)]="person.personType"
                        name="personType" #personType="ngModel" (ngModelChange)="onPersonTypeChange()">
                  <option selected=selected></option>
                  <option *ngFor="let personType of personTypes" [value]="personType">{{personType}}</option>
                </select>
                <label [hidden]="personType.valid || (personType.pristine && !submitted)" class="invalid">
                  Person Type is required
                </label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="person.personType && person.personType == personTypeCatalog.EMPLOYEE">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="business">Employer</label>
                <select class="form-control" id="business" required [(ngModel)]="person.business" name="business"
                        #business="ngModel">
                  <option selected=selected></option>
                  <option *ngFor="let business of businesses" [ngValue]="business">{{business.name}}</option>
                </select>
                <label [hidden]="business.valid || (business.pristine && !submitted)" class="invalid">
                  Employer is required
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName"
                       name="firstName" #firstName="ngModel">
                <label [hidden]="firstName.valid || (firstName.pristine && !submitted)" class="invalid">
                  First name is required
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="person.lastName"
                       name="lastName" #lastName="ngModel">
                <label [hidden]="lastName.valid || (lastName.pristine && !submitted)" class="invalid">
                  Last name is required
                </label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="person.personType && person.personType == personTypeCatalog.EMPLOYEE">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="person.title" name="title"
                       #title="ngModel">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" required
                       [(ngModel)]="person.phone" name="phone" #phone="ngModel" placeholder="999-999-9999">
                <label [hidden]="phone.valid || (phone.pristine && !submitted)" class="invalid">
                  Phone is required in the format 999-999-9999
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="skype">Skype</label>
                <input type="text" class="form-control" id="skype"
                       [(ngModel)]="person.skype" name="skype" #skype="ngModel">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="person.email" name="email" #email="ngModel">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="person.id && person.personType == personTypeCatalog.EMPLOYEE">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="form-group">
                <label><i class="fa fa-user"></i> User</label>
                <div *ngIf="user">
                  <input type="text" class="form-control input-md" [(ngModel)]="user.username" name="user" readonly>
                  <i class="fa fa-times icon-btn-md" (click)="removeUser()"></i>
                </div>
                <div [hidden]="user">
                  <button type="button" class="btn btn-info" (click)="createUser()">Create</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
              <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
          </div>
        </div>

      </div>

    </form>

  </div>
</div>

<div *ngIf="person.id">
  <div class="row">
    <div class="col-sm-6">
      <app-address [address]="person.address" (persistPerson)="save($event)"></app-address>
    </div>

    <div class="col-sm-6" *ngIf="skills">
      <app-person-skills [person]="person" (persistPerson)="save()"></app-person-skills>
    </div>
  </div>

  <div class="row" *ngIf="documents">
    <div class="col-sm-12">
      <app-person-documents [person]="person" (persistPerson)="loadPerson()"></app-person-documents>
    </div>
  </div>

  <div class="row" *ngIf="trainings">
    <div class="col-sm-12">
      <app-person-trainings [person]="person" (persistPerson)="save()"></app-person-trainings>
    </div>
  </div>

</div>