<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Role Information
        </div>
        <div class="card-block">
          <div [hidden]="submitted"></div>
          <form (ngSubmit)="save()" #roleForm="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="roleType">Role</label>
                  <input type="text" class="form-control" id="name" required [(ngModel)]="role.name" name="name" #name="ngModel">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
              <button type="button" class="btn btn-primary" (click)="cancel()">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSkill" aria-expanded="false" aria-controls="collapseSkill">
    Skills
    </button>
  </p>
  <div class="collapse" id="collapseSkill">
    <div class="card card-block">
      <div class="list-group">
        <label for="personType">Skills</label>
        <div class="card card-block">
          {{role.skill}}
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEidtSkill" aria-expanded="false"
            aria-controls="collapseEidtSkill">
            Edit Skills
          </button>
        </div>
        <div class="collapse" id="collapseEidtSkill">
          <div class="form-group row">
            <div class="col-xs-10">
              <div class="form-group">
                <textarea class="form-control" id="skill" required [(ngModel)]="role.skill" name="skill" #skill="ngModel" rows="3"></textarea>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>