<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Role Information
        </div>
        <div class="card-block">
          <div [hidden]="submitted"></div>
          <form (ngSubmit)="save()" #roleForm="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="roleType">Role</label>
                  <input type="text" class="form-control" id="name" required [(ngModel)]="role.name" name="name" #name="ngModel">

                </div>
              </div>
            </div>

              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="roleType">Skill</label>
                  <input type="text" class="form-control" id="skill" required [(ngModel)]="role.skill" name="skill" #name="ngModel">

                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
              <button type="button" class="btn btn-primary" (click)="cancel()">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSkill" aria-expanded="false" aria-controls="collapseSkill">
    Skills
  </button>
  </p>
  <div class="collapse" id="collapseSkill">
    <div class="card card-block">
      <div class="list-group">
        <label for="personType">Skill List</label>
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let skill of skills" (click)="onSelect(role)">
        {{skill.name}}
        </button>
      </div>
    </div>
  </div>
</div>