/* You can add global styles to this file, and also import other style files */

.busy{
  height: 100%;
  width: 100%;
  position:fixed;
  padding-top: 20px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:9999;
  background-color: #696969;
  opacity: .75;
}

.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 70px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.sk-spinner-wave div {
  background-color: #df6130;
  height: 100%;
  width: 10px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.clickable {
  cursor: pointer;
  color: #df6130;
}

.icon-md {
  font-size: 18px !important;
}

.icon-lg {
  font-size: 30px !important;
}

.icon-btn-md {
  cursor: pointer;
  color: #df6130;
  font-size: 18px !important;
}

.icon-btn-md-disabled {
  color: #DCDAD1;
  font-size: 18px !important;
}

.spacer-sm{
  margin-bottom: 10px;
}

.spacer-md{
  margin-bottom: 20px;
}

.spacer-lg{
  margin-bottom: 40px;
}

.login {
  margin-top: 100px;
}

.notification {
  margin: 10px 0;
  font-weight: bold;
}